body{
    background-color:#3cb371;
}

    #box{
        position: relative;
        background: #F0F8FF;
        width: 800px;
        height: 500px;
        margin: 100px auto 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 30px;
        overflow: hidden;
    }
    #login_box_label{
        position: relative;
        background:#DCDCDC;
        width:800px;
        height:50px;
        text-align: center;
        font: bold 18px/45px sans-serif ;
        border-bottom: 1px solid #C0C0C0;
        box-shadow: 1px 0px 3px #A9A9A9;
        color:#555555;
    }
        .input-div input{
            padding-left:5px;
            border-radius:3px;
            outline:none;
        }
        .input-div:hover input{
            border-color:#7dc6dd;
        }
    #edicao{
        font: bold 15px/20px sans-serif ;
        text-align: center;
        position: relative;
        color:#555555;
    }
    #inputs{
        position: absolute;
        text-align: left;
        margin-top: 20px;
        margin-left: 275px;

    }
    #submit_button{
        margin-top: 40px;
        margin-left: 40px;
    }
    #erro{
            margin-top: 10px;
            position: absolute;
            margin-left: 20px;
            font:normal 14px sans-serif;
            color:#ee3a1f;
     }

