body{
        background-color:#3cb371
        }
     #login_box{
        background: #F0F8FF;
        width:800px;
        height:1000px;
        margin:50px auto 0px;
        border-radius:5px;
        box-shadow: 0px 0px 30px;
        overflow:hidden;
     }
    #login_box_label{
        background:#DCDCDC;
        width:800px;
        height:50px;
        font: bold 15px/45px sans-serif ;
        border-bottom: 1px solid #C0C0C0;
        box-shadow: 1px 0px 3px #A9A9A9;
        color:#555555;

     }
    .input-div{

         margin: 10px;
         padding:5px;
         background-color:#f2f5f7;
         border-radius:3px;
    }
    .input-div input{

        width:125px;
        height:20px;
        padding-left:5px;
        color:black;
        border-radius:3px;
        outline:none;
    }
    .input-div:hover input{
        border-color:#7dc6dd;
}

    #botao1{
    	margin-top:30px;
	    position: absolute;
        top:900px;
        margin-left:600px;
        width:100px;
        font: bold 17px/45px;
        padding: 10px;
        color: white;
        background-color: #1CDF74 ;
        border-radius: 4px;
        border: none;
    }

    #imput_data{
        position: absolute;

         top:800px;
         margin-left:135px;
         font: bold 17px/45px sans-serif ;
    }
    #date{
    font: bold 13px/45px sans-serif ;
    }

      #label_obs{
      position: absolute;
      top:860px;
      margin-left:140px;
      font: bold 17px/45px sans-serif ;


      }
      #id_obs{
      position: absolute;
      top:900px;
      margin-left:140px;
      font: bold 17px/45px sans-serif ;
      Word-wrap:break-Word;
      width:250px;
      height:80px;
      }



       #home{
           position: absolute;
           top:55px;
           margin-left:20px;


       }
       #prof{
       position: absolute;
       top:55px;
       margin-left:550px;
       font: bold 17px/45px sans-serif ;
       color:black;

       }
      a:link, a:visited {
      	text-decoration: none;
      	color:#3cb371;

      	}
      a:hover {
      	text-decoration: underline;
      	color: #f00;
      	}

       #chamada{
           position: absolute;
           margin-left:50px;
           top:130px;
       }

       #tabela_box{
               background:white;
               width:600px;
               height:500px;
               font: bold 15px/45px sans-serif ;
               border-bottom: 1px solid #C0C0C0;
               box-shadow: 1px 0px 3px #A9A9A9;
               color:black;
               margin-left:100px;
               margin:130px auto 0px;

         }
        #tabela{

            font: bold 15px/25px sans-serif ;
            font: 100% sans-serif;
            background-color:white;
            border-collapse: collapse;
            empty-cells: show;
            border: 1px solid #7a7;
            margin:0px auto 0px;

        }
        tr {
          height: 0px;

        }

        td {
          width: 200%;
           text-align: center;
           word-break: break-all;


        }
        thead{
        background:#3cb371;
        color: white;
        }












	

