body{
    background-color:#3cb371;
}

#login_box{
        background: #F0F8FF;
        width:800px;
        height:600px;
        margin:50px auto 0px;
        border-radius:5px;
        box-shadow: 0px 0px 30px;
        overflow:hidden;
        margin-top:20px;

     }
    #login_box_label{
        background:#DCDCDC;
        width:800px;
        height:60px;
        font: bold 17px/45px sans-serif ;
        border-bottom: 1px solid #C0C0C0;
        box-shadow: 1px 0px 3px #A9A9A9;
        color:#555555;


     }
     #logo{
     margin-left:350px;
     top:15px;
      font: bold 30px/45px sans-serif ;
      color:black;
     }
      #sair{
      position: absolute;
       top:25px;
     margin-left:750px;
     }


       #chamada1{
     position: absolute;
     margin-left:10px;
      top:150px;
     }
      #boletim1{
     position: absolute;
     margin-left:10px;
      top:220px;
     }
     .texto-boletim{
     position: absolute;
     margin-left:70px;
      top:220px;
      font: bold 17px/45px sans-serif ;
      color:#555555;
      text-decoration:none;
     }
     .texto-chamada{
     position: absolute;
     margin-left:70px;
      top:150px;
      font: bold 17px/45px sans-serif ;
      color:#555555;
      text-decoration:none;
     }
     #messagem-chamada{
     position: absolute;
     margin-left:70px;
      top:170px;
      font: bold 12px/45px sans-serif ;
      color:#555555;
     }
      #messagem-boletim{
     position: absolute;
     margin-left:70px;
     top:240px;
     font: bold 12px/45px sans-serif ;
      color:#555555;
     }
