@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

a{
    text-decoration: none;
}
h1, h2, h3, h4 {
    color: #555555;
}


html,
body {
    
    font-family: Roboto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color:#3cb371;

}
form {
    max-width: 600px;
    height: 860px;
    margin: 24px auto;
    padding: 40px;
    border-radius: 5px;
    background-color: #F0F8FF;
    width: 90%;
    box-shadow: 0px 0px 30px;
}


form .wrapper {

    background-color:white;
    padding: 15px;
    border-radius: 8px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}   

form h1 {
    margin-bottom: 30px;
}
form h3 {
    margin-bottom: 15px;
}

.field-group input{
    margin-top: 10px;
}

.field-group1 {
    display: flex;
}

.field-group1 label {
    margin-left: 70px;
}
.field-group1 input {
    margin-left: 5px;
}

.note-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 24px;
}

.note-wrapper .field {
    width: 50px;
    height: 25px;
    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 8px;

}
.note-wrapper .field p {
    margin: auto;
}
form .Btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .btn-2 {
    width:100px;
    font: bold 17px/45px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    background-color:#1CDF74 ;
    border-radius: 4px;
    border: none;
    transition: 200ms;
}


.btn-2:hover {
    background-color: #3cb371;
}