@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");
:root{
    --title-color:#466175;
    --primary-color: #1CDF74;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

a{
    text-decoration: none;
}

 html,
 body {
     height: 150vh;
     font-family: Roboto;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    color: #555555;
}

body{
    background-color:#3cb371;
} 

form {
    background-color: #F0F8FF;
    width: 90%;
    max-width: 730px;
    height: 820px;
    box-sizing: border-box;
    
    padding: 64px;
    margin: 40px auto;
    
    border-radius:5px;
    box-shadow: 0px 0px 30px;
    
}

form h1 {
    font-size: 26px;
}

.choices {
    margin-top: 20px;
    color: var(--tittle-color);
}

form fieldset {
    margin-top: 20px;

    border: 0;
}

form legend {
    margin-bottom: 24px;
}

form legend h2 {
    font-size: 20px;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;
}

form .field-group {
    display: flex;
}

form input, form select {
    /* border: 0; */
    padding: 7px 18px;
    font-size: 16px;
    color:#aeaeae;
    border-radius:3px;
    border:1px solid #bfc4c6;
    outline: none;

}

input:hover  {
    /* background-color:#e0f1fc; */
    border-color:#7dc6dd
}
form label {
    font-size: 14px;
    margin-bottom: 10px;
    
}

form .field-group .field + .field {
    margin-left: 24px;

}

form button {
    width:100px;
    font: bold 17px/45px;
    padding: 10px;

    color: white;
    background-color: var(--primary-color) ;
    border-radius: 4px;
    border: none;
}



/* span.error{
    display: flex;

    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

form span.error.active {
    border: 1px solid red;
    
} */