<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/alunoss.css">
    <title>Alunos</title>
</head>
<body>
    <main>
        <!-- <div class="box-label">
            <div class="home">
                <a href="">
                    <img src="seta_icon.png" style="width:30px;height:30px;">
                </a>
            </div> -->
        </div>
        <div class="main-container">
            
            <h1>Alunos</h1>
    
            <table class="grades" cellspacing=0>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Inserir Notas</th>
                </tr>

                <tr>
                    <td>Aluno Teste Fibonniro Silva</td>
                    <td>20202ADSPL021</td>
                    <td><a href="">Inserir Notas</a></td>
                </tr>

                <tr>
                    <td>Aluno Teste Henrique Fibonniro Silva</td>
                    <td>20202ADSPL021</td>
                    <td><a href="">Inserir Notas</a></td>
                </tr>
            </table>
        </div>
    
    </main>
</body>
</html>