<!DOCTYPE html>
<html lang="pt-br" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/alunos.css">
    <title>Alunos</title>
</head>
<body>
    <main>
        <div class="main-container">    
            <h1>Alunos</h1>
            <table class="grades" cellspacing=0>
                <tr>
                	<th>Número</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Inserir Notas</th>
                </tr>
                <tr th:each = "discente, indexStat : ${discentes}">
                	<td th:text = "${indexStat.count}"></td>
                    <td th:text = "${discente.nome}"></td>
                    <td th:text = "${discente.matricula}"></td>
                    <td><a th:href = "@{notas/__${discente.matricula}__}">Inserir Notas</a></td>
                </tr>
            </table>
        </div>
    
    </main>
</body>
</html>