<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOLETIM</title>
    
    <link rel="stylesheet" href="css/boletim.css">
</head>
<body>

    <main>
        <div class="main-container">

            <div id="login_box_label">
                    <a href="home_docente.html" id="seta">
                        <img src="images/seta.png" style="width:30px;height:30px;"/>
                    </a>
                <label id="aluno">Aluno <label></label></label>

            </div>
            <div id="imagem">
                <img src="images/boletim1.png" style="width:200px;height:80px;"/>

            </div>


            <section class="overals" id="grade1">

                <h4>Ano: 2020</h4>
                <h4>Período: 2</h4>
                <h4>Média das disciplinas: 10</h4>
                <h4>Rendimento global: 10</h4>
                <h4>Coeficiente de rendimento: 10</h4>
                <h4>Situação: Matrículado</h4>
            </section>

            <table class="grades" id="grade2">
                <tr>
                    <th>Componente Curricular</th>
                    <th>CH</th>
                    <th>Turma</th>
                    <th>Nota UNI1</th>
                    <th>Nota UNI2</th>
                    <th>Média Final</th>
                    <th>Total Faltas</th>
                    <th>Situação</th>
                </tr>
    
                <tr>
                    <td>Empreendedorismo</td>
                    <td>80</td>
                    <td>20202ADSPL021</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>8</td>
                    <td>Cursando</td>
                </tr>
    
                <tr>
                    <td>Introdução a Programação</td>
                    <td>80</td>
                    <td>20202ADSPL021</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>9</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>