<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOLETIM</title>
    
    <link rel="stylesheet" href="/src/main/resources/static/css/boletim.css">
</head>
<body>

    <main>
        <div class="main-container">
            <section class="main-header">
                <div class="img">
                    <img src="../static/images/report_card.svg" alt="report_card">
                    <h2>BOLETIM</h2>
                </div>
                
                <h2>Aluno Teste Fibonniro Silva</h2>
            </section>

            <section class="overals">
                <h4>Ano: 2020</h4>
                <h4>Período: 2</h4>
                <h4>Média das disciplinas: 10</h4>
                <h4>Rendimento global: 10</h4>
                <h4>Coeficiente de rendimento: 10</h4>
                <h4>Situação: Matrículado</h4>
            </section>

            <table class="grades">
                <tr>
                    <th>Componente Curricular</th>
                    <th>CH</th>
                    <th>Turma</th>
                    <th>Nota UNI1</th>
                    <th>Nota UNI2</th>
                    <th>Média Final</th>
                    <th>Total Faltas</th>
                    <th>Situação</th>
                </tr>
    
                <tr>
                    <td>Empreendedorismo</td>
                    <td>80</td>
                    <td>20202ADSPL021</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>8</td>
                    <td>Cursando</td>
                </tr>
    
                <tr>
                    <td>Introdução a Programação</td>
                    <td>80</td>
                    <td>20202ADSPL021</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>9</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>

                <tr>
                    <td>Banco de Dados 1</td>
                    <td>60</td>
                    <td>20202ADSPL021</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>7</td>
                    <td>Cursando</td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>