<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/cadastro.css">

    <script src="src/main/resources/static/javascript/validation.js" defer></script>
    <script src="src/main/resources/static/javascript/options.js" defer></script>
    <script src="src/main/resources/static/javascript/numbersAndMask.js" defer></script>
    <script src="src/main/resources/static/javascript/toggleDisplay.js" defer></script>

    <title>Cadastro</title>

<body>

    <form th:method="post" id="form_cadastro" th:action="@{cadastro}" th:object="${DTO}">

        <h1>CADASTRO</h1>

        <div class="choices">

            <input type="radio" name="radiobtn" id="choice" th:field = "*{role}" th:value = "docente" required>
            <label for="choice">Docente</label>

            <input type="radio" name="radiobtn" id="choice2" th:field = "*{role}" th:value = "discente" required>
            <label for="choice2">Discente</label>
        </div>

        <fieldset>
            <legend>
                <h2>Dados</h2>
            </legend>

            <div class="field">
                <label for="name">Nome</label>
                <input type="text" name="name" required="required" th:field = "*{name}">
                <span class="error"></span>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" required="required" th:field = "*{email}">
                    <span class="error" ></span>
                </div>

                <div class="field">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" required="required" maxlength="14" th:field = "*{cpf}"
                        onkeydown="javascript: fMasc(this, mCPF);" onkeypress=" return OnlyNumbers(event)">
                    <span class="error"></span>
                </div>
            </div>
            
            <div class="field-group">
                <div class="field">
                    <label for="curso">Curso</label>
                    <select id = "curso" name = "curso" th:field = "*{course}" required>
                        <option value="">Selecione um curso</option>
                    </select>
                    <span class="error"></span>
                </div>

                <div class="field" id="subject">
                    <label for="cadeira">Cadeira</label>
                    <select id = "cadeira" name ="cadeira" th:field = "*{subject}" required>
                        <option value="">Selecione uma cadeira</option>
                    </select>
                    <span class="error"></span>
                </div>
	
            </div>

            <div class="field" id="element">
                <label for="cpf">SIAPE</label>
                <input type="text" id="siape" name="cpf" required="required" maxlength="7"
                    th:field = "*{siape}" onkeypress=" return OnlyNumbers(event)">
                <span class="error"></span>
            </div>
            <button type="submit">Cadastrar</button>
            
            <footer>
            	<div th:if = "${param.error}" class = "register_error">
            		<p>Usuário já cadastrado</p>
            	</div>
            </footer>
        	 <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">
        </fieldset>
    </form>
</body>
</head>

</html>