<!DOCTYPE html>
<html lang="pt-br" xmlns:th = "https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>chamada</title>

        <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
        <link href= "css/bootstrap.min.css" rel= "stylesheet" type= "text/css" />
        <script type= "text/javascript" src= "javascript/jquery-3.4.1.min.js"></script>
        <script type= "text/javascript" src= "javascript/bootstrap.min.js"></script>
        <script type= "text/javascript" src= "javascript/jquery.mask.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/chamada.css">

    </head>
    <body>

    <form method="post" action="home.html">
        <div id="login_box">

            <div id="login_box_label">
                <div id="home">
                    <a href="home">
                        <img src="images/seta_icon.png" style="width:30px;height:30px;"/>
                    </a>
                </div>
                <div id="prof">
                    Professor
                </div>

            </div>
            <label id="nome_turma">Turmas</label>
            <div id="turma">

                <select  name="turma">
                    <option value="">----</option>
                    <option value="ADS001">ADS001</option>
                    <option value="ADS002">ADS002</option>
                    <option value="Téc Adm001">Téc Adm001</option>
                    <option value="Msi003">Msi003</option>
                </select>
            </div>

            <div class="input-div" id="imput_data">
                Data
                <input name= "Data"  id="date"  type="date" value=""  onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
            </div>
            <div id="botoes">
                <input type="submit"  class="btn btn-success" value="Registrar" id="botao" />
                <input type="reset"  class="btn btn-danger" value="Cancelar" id="botao_cance" />
            </div>
            <div class="input-div-obs" id="imput_descrição">
                Observação
                <textarea style="resize: none" name= "Descrição"  class= "form-control" id= "id_desc" required= "required"  type="text" ></textarea>
            </div>
            <div id="chamada">
                <img src="images/chamada_layout.png" style="width:210px;height:80px;"/>
            </div>
            <div style="overflow: auto" id="tabela_box">
                <table id="tabela" border="1" cellpadding="4px" >
                    <tr>
                        <th>Número</th>
                        <th>Matrícula</th>
                        <th>Nome </th>
                        <th>Presença </th>
					</tr>
					
                    <tr th:each = "estudante : ${students}">
                    	<td th:text = "${estudante.nome}"></td>
                    	<td th:text = "${estudante.cpf}"></td>
                    	<td th:text = "${estudante.email}"></td>
						<td>
                            <select  name="presença">
                                <option value="presente">Presente</option>
                                <option value="1f">1 Falta</option>
                                <option value="2f">2 Falta</option>
                            </select>
                        </td>
                    </tr>
            </table>
            </div>
            </div>
    </form>
    <script>
                    var today = new Date();
                    var dy = today.getDate();
                    var mt = today.getMonth()+1;
                    var yr = today.getFullYear();
                    if(dy<10){
                        dy="0"+dy
                     }
                     if(mt<10){
                        mt="0"+mt
                      }

                    document.getElementById('date').value= yr+"-"+mt+"-"+dy;
                </script>
    </body>
</html>