<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>esqueci_senha</title>

    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <link href= "css/bootstrap.min.css" rel= "stylesheet" type= "text/css" />
    <link rel = "stylesheet" type = "text/css" href = "/css/esqueci_senha.css">
    <script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
    <script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>

</head>
<body>
<form th:method = "post" th:action = "@{esqueci_senha}" th:object = "${DTO}">
    <div id="senha_box">
        <div id="loguin_box_label">
            Informe seu login                     
            <div class="input-div" id="imput_usuario">
                <input type="text"  name="nome"  class= "form-control"  required= "required"  maxlength = "14" minlength = "7" th:field = "*{login}"/>
            </div>
            <div id="botoes">
                <button type="submit" id="botao" >Enviar</button>
            </div>
        </div>
    </div>
     <div th:if = "${param.error}" id="erro">
		Usuário não cadastrado
     </div>
    <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">
</form>
 <script>
    $('#imput_cod').css('display','none');
    $('#text1').css('display','none');
    $('#cancelar').css('display','none');
    $('#continuar').css('display','none');

    $( "#botoes" ).click(function() {
$("#imput_cod").css('display','block');
$("#text1").css('display','block');
$("#cancelar").css('display','block');
$("#continuar ").css('display','block');
});
</script>


</body>

</html>