<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>home_admin</title>

    <link href= "bootstrap/bootstrap.min.css" rel= "stylesheet" type= "text/css" />
	<link rel="stylesheet" type="text/css" href="/css/home_admin.css">
    <script type= "text/javascript" src= "javascript/jquery-3.4.1.min.js"></script>
    <script type= "text/javascript" src= "javascript/bootstrap.min.js"></script>
    <script type= "text/javascript" src= "javascript/jquery.mask.min.js"></script>
    <script type= "text/javascript">
    </script>


</head>
<body>
	<form action=".html">
    	<div id="loguin_box">

        	<div id="loguin_box_label">
               	Home
           		<div id="cadastrar_docente">
                	<a href="cadastro">Cadastrar Docentes</a>
            	</div>
        	</div>
    	</div>
	</form> 
</body>
</html>