<!DOCTYPE html>
<html lang="pt-br">

	<head>
    	<title>HOME</title>
    	<meta charset="UTF-8"/>

		<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
		<link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
		<link rel = "stylesheet" type = "text/css" href = "/css/home_discente.css">
		<script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
		<script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
		<script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>
 	</head>
	<body>

	    <div id= "login_box">
			<img id="chamada1" src="/images/chamada2.png"  style="width:50px;height:60px;"/> <a class="texto-chamada" href = "chamada.html" >Chamada</a>
			<div id="messagem-boletim">Confira suas notas</div>
			<img id="boletim1" src="/images/boletim2.png"  style="width:50px;height:60px;"/> <a class="texto-boletim" href = "boletim.html">Boletim</a>
			<div id="messagem-chamada">Confira suas frequências</div>

			<div id="login_box_label">
				<div id="logo">
					<img src="/images/rinq.png" style="width:120px;height:50px;"/>
				</div>
				<div id="sair">
					<a href="home.html">
						<img src="/images/sair.png" style="width:40px;height:40px;"/>
					</a>
				</div>


	        </div>       
	    </div>
	</body>
</html>