<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>home_admin</title>

	<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
	<link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
	<link rel = "stylesheet" type = "text/css" href = "/css/home_admin.css">
	<script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
	<script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
	<script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>


</head>
<body>
<div id= "login_box">
	<img id="cadastro" src="/images/cadastro.png"  style="width:50px;height:60px;"/> <a class="texto-cadastro" href = "registro.html" >Cadastro</a>
	<div id="messagem-cadastro"> Cadastro de discentes e docentes</div>


	<div id="login_box_label">
		<div id="logo">
			<img src="/images/rinq.png" style="width:120px;height:50px;"/>
		</div>
		<div id="sair">
			<a href="home.html">
				<img src="/images/sair.png" style="width:40px;height:40px;"/>
			</a>
		</div>


	</div>
</div>
</body>
</html>