<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang = "pt-br">
    <head>
        <meta charset = "UTF-8">
        <title>RINQ</title>

        <link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
		<link rel = "stylesheet" type = "text/css" href = "/css/login.css">
        <script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
        <script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
        <script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>
        <script type = "text/javascript">
            $(document).ready(function(){$("#id_CPF").mask("000.000.000-00")})
        </script>
    </head>
    <body>
    	<form th:action = "@{/login}" th:method = "post">
        	<div id = "login_box">
            	<div id = "login_box_label">
                   Login
                	<div class = "input-div" id = "imput_usuario">
                    	<input name = "username" class = "form-control" id = "id_CPF" required = "required" maxlength = "11" minlength = "11" placeholder = "Informe seu CPF" type ="text" >   
                	</div>
                	<div class = "input-div" id = "imput_senha">
                    	<input type = "password" class = "form-control" name = "password" minlength = "6" required = "required" placeholder = "Informe sua senha">
                	</div>
                	<div id = "logo">
                    	<img src = "/images/logo.png" style = "width:120px;height:120px;"/>
                	</div>
                	<div id = "esqueci_senha">
                    	<a href = "esqueci_senha" target = "_blank">Esqueci minha senha</a>
                	</div>
                	<div id = "botoes">
                    	<input type = "submit"  class = "btn btn-success" value = "Login" id = "botao" />
                	</div>
                	<div id = "lembrar_senha"><input type = "checkbox" name = "remember-me"/>Mantenha-me conectado</div>
                	<div th:if="${param.error}" id = "erro" class="alert alert-error">Dados inválidos</div>
        	  	    <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">
            	</div>
        	</div>
  	 	</form>
    </body>
</html>