<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset = "UTF-8">

    <link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
    <link rel = "stylesheet" type = "text/css" href = "/css/tela_email_cod.css">
    <script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
    <script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>


</head>
<body>
<form action="trocar_senha.html">
    <div id="email_box">
        <div id="email_imagem">
            <div id="imagem">
                <img src="/images/as.png" style="width:90px;height:80px;"/>

            </div>
            
            </div>
            <div id="email_label1">
                Recuperação de senha
            </div>
            <div id="email_label2">
                Recentemente, você solicitou a redefinição da senha da conta associada a este e-mail.<br>
                Insira este código na tela de redefinição de senha.
            </div>
            <div id="email_cod">
            123456
                <img src="/images/logo.png" style="width:30px;height:30px;" id="logo"/>
         </div>


        </div>
       
    </form> 
</body>
</html>