<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset = "UTF-8">

    <link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
    <link rel = "stylesheet" type = "text/css" href = "/css/tela_email_cod.css">
    <script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
    <script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>

</head>
<body>
    <div id="email_box">
        <div id="email_imagem">
          	<p th:utext = "|Olá ${name}.<br>Recentemente vocẽ solicitou a redefinição da senha da conta associada a este e-mail.
          				   Acesse o link a seguir para redefinir a sua senha: @{'http://localhost:8080' + ${resetPasswordURl}}<p>|"><p>
            <div id="email_cod">
         	</div>
        </div>
    </div>   
</body>
</html>