<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset = "UTF-8">

    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <link href = "/bootstrap/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
    <link rel = "stylesheet" type = "text/css" href = "/css/tela_email.css">
    <script type = "text/javascript" src = "/javascript/jquery-3.4.1.min.js"></script>
    <script type = "text/javascript" src = "/javascript/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/javascript/jquery.mask.min.js"></script>
</head>
<body>
<form action="trocar_senha.html">
    <div id="email_box">
            <div id="email_label1" th:text = "|Prezado(a) ${name}.|"></div>
            <div id="email_label2" th:text = "|Bem-vindo! Você foi matriculado com sucesso. Para realizar login, primeiro você deve obter uma senha.
            								   Acesse o link a seguir para obter sua primeira senha: @{'http://localhost:8080' + ${resetPasswordURl}}|">
            </div>
        </div>
       
    </form> 
</body>
</html>